<div class="main-container">
    <HomeDescription Details="Details"/>
    <ContactInformation ContactInfo="ContactInformationData.contactInfoData" RightContentImageUrl="RightContentImageUrl" />
</div>