<div class="main-container flex-row justify-center">
    <div class="image-container">
        <img src="@AgentImageUrl" class="cropped-image">
    </div>
    <div class="right-content flex-column">
        <div class="text-above-button">
            <h2>@AgentIntroText</h2>
        </div>
        <div class="button-container">
            <button>
                <h3 class="button-text">GET STARTED</h3>
            </button>
        </div>
    </div>
</div>