<div class="main-container">
    <div class="image-container">
        <img src="@AgentImageUrl" class="cropped-image">
    </div>
    <div class="right-content">
        <div class="text-above-button">
            <h2>@AgentIntroText</h2>
        </div>
        <div class="button-container">
            <button>
                <h3>GET STARTED</h3>
            </button>
        </div>
    </div>
</div>