.main-container {
    width: 100vw;
    height: 80vh;
    background-color: var(--secondary-font-color);
    overflow: hidden;
}

.content-container {
    width: 120vh;
    height: 100%;
}

.left-content {
    width: 60vh;
    min-width: 60vh;
    padding-bottom: 5vh;
    padding-right: 2vh;
}
    .left-content h3 {
        font-family: "Teachers", sans-serif;
        color: var(--primary-hero-contact-font-color);
        font-weight: bold;
        font-size: 1.2rem;
    }

.bottom-row-content img {
    height: 5vh;
    width: auto;
    margin-right: 1vh;
}

.column-element h2 {
    font-family: "Sorts Mill Goudy", serif;
    color: var(--primary-hero-contact-font-color);
    font-weight: lighter;
    font-size: 2.5rem;
}

.column-element h6 {
    font-family: "Teachers", sans-serif;
    color: var(--leastused-text-font-color);
    font-weight: normal;
}

.right-content-image {
    position: relative;
    height: 130%;
    width: auto;
    top: -30%;
    left: 10%;
}