<div class="main-container">
    <div class="background">
        <div class="overlay"></div>
        <img src="@BackgroundImageUrl"/>
    </div>
    <div class="secondary-container flex-column centered-content">
        <div class="text-container">
                <h2>@HeroWelcomeText</h2>
        </div>
        <div class="button-container flex-row">
            <button>
                <h3>LIST YOUR HOME</h3>
            </button>
            <button>
                <h3>BUY A HOME</h3>
            </button>
        </div>
    </div>
</div>