.main-container {
    width: 100vw;
    height: 80vh;
    background-color: var(--secondary-background-color);
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.content-container {
    width: 140vh;
    min-width: 140vh;
    height: auto;
    margin-bottom: 7vh;
}
