<div class="main-container">
    <video class="video-background" crossorigin="anonymous" preload="metadata" playsinline="" disablepictureinpicture="" src="blob:https://www.canva.com/ebb0573d-3a60-449b-a010-9c9a3b7878cb">
        <!-- Fallback text if video doesn't load -->
        Your browser does not support the video tag.
    </video>

    <div class="content-overlay flex-column centered-content">
        <div class="text-container">
            <h2>@VideoOverlayText</h2>
        </div>
        <div class="button-container flex-row">
            <button>
                <h3>EXPLORE YOUR NEW HOME</h3>
            </button>
        </div>
    </div>
</div>