.main-container {
    width: 100vw;
    height: 700px;
    margin: 10vh;
    background-color: var(--primary-background-color);
    overflow: hidden;
}

.left-content {
    min-width: 60vh;
    width: 60vh;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    overflow: hidden;
}
    .left-content .image-align {
        position: relative;
        object-fit: cover;
        height: 65%;
        top: -10%;
        left: -6%;
    }

.right-content {
    min-width: 70vh;
    width: 70vh;
    height: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding-left: 15vh;
}
    .right-content img {
        object-fit: cover;
        position: relative;
        max-width: 100%;
    }

.text-container {
    position: relative;
}
    .text-container h1 {
        font-size: 3.5rem;
        font-family: "Sorts Mill Goudy", serif;
        font-weight: lighter;
        color: var(--secondary-font-color);
        width: 60vh;
    }
    .text-container h3 {
        font-size: 1.8rem;
        font-family: "Sorts Mill Goudy", serif;
        font-weight: lighter;
        color: var(--secondary-font-color);
    }
    .text-container h6 {
        font-family: "Teachers", sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: var(--secondary-font-color);
    }

.row-content {
    margin-top: 3.5vh;
    margin-bottom: 1.9vh;
}
    .row-content h4 {
        font-family: "Teachers", sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #525050;
    }

.row-element {
    position: relative;
    height: 2vh;
    width: 12vh;
    margin-right: 5vh;
}
    .row-element img {
        height: 2vh;
        width: auto;
        margin-right: 1vh;
    }