<div style="background-color: @BackgroundColor" class="main-container">
    <h1>@HomesTripletType</h1>
    <div class="content-container">
        <Home Details="HomeDetailsLeft"/>
        <Home Details="HomeDetailsMiddle"/>
        <Home Details="HomeDetailsRight"/>
    </div>
</div>