@page "/14MilenaGrove"
@rendermode InteractiveServer

<PageTitle>14 Milena Grove</PageTitle>

<div class="page-container">
    <HomeDescription Details="HomeDetailsData._14MilenaGroveDetails"/>
    <ContactInformation ContactInfo="ContactInformationData.contactInfoData" RightContentImageUrl="ContactInformationData.rightContentImageUrl" />
</div>