@page "/234TalensvilleLane"
@rendermode InteractiveServer

<PageTitle>234 Talensville Lane</PageTitle>

<div class="page-container">
    <HomeDescription Details="HomeDetailsData._234TalensvilleLane"/>
    <ContactInformation ContactInfo="@ContactInformationData.contactInfoData" RightContentImageUrl="@ContactInformationData.rightContentImageUrl" />
</div>
