@page "/56GoulcrestDrive"
@rendermode InteractiveServer

<PageTitle>56 Goulcrest Drive</PageTitle>

<div class="page-container">
    <HomeDescription Details="HomeDetailsData._56GoulcrestDrive"/>
    <ContactInformation ContactInfo="@ContactInformationData.contactInfoData" RightContentImageUrl="@ContactInformationData.rightContentImageUrl" />
</div>
