@page "/7WalderlaneHill"
@rendermode InteractiveServer

<PageTitle>7 Walderlane Hill</PageTitle>

<div class="page-container">
    <HomeDescription Details="HomeDetailsData._7WalderlaneHill"/>
    <ContactInformation ContactInfo="@ContactInformationData.contactInfoData" RightContentImageUrl="@ContactInformationData.rightContentImageUrl" />
</div>