@page "/"
@rendermode InteractiveServer

<div class="main-container flex-column">
    <Hero BackgroundImageUrl="https://raw.githubusercontent.com/thomasgagyi/find-your-realestate/refs/heads/master/FindYourRealEstate/Resources/Images/HeroBackground.png"
          HeroWelcomeText="Let us help you make the move."/>
    <AgentIntroduction AgentImageUrl="https://raw.githubusercontent.com/thomasgagyi/find-your-realestate/refs/heads/master/FindYourRealEstate/Resources/Images/agent.jpg"
                       AgentIntroText="We have what it takes to get you the best deal for your ideal home."/>
</div>